.c1 {
    background-color: navy;
}
.c2 {
    background-color: yellow;
}
.c3 {
    background-color: red;
}
.c4 {
    background-color: green;
}
.c5 {
    background-color: saddlebrown;
}
.c6 {
    background-color: lightslategrey;
}