
body {
    background-color: dodgerblue;
}

div {
    width: 50%;
    background-color: limegreen;
    margin: 0 auto;
}
img {

    width: 55%;
    border: 20px groove gold;
    border-radius: 50%;
    display: block;
    margin: 0 auto;

}
h1 {
    font-size: 32px;
    margin: 20px 0 0 0;
}

#one {
    color: firebrick;
}
#two {
    color: midnightblue;
}
#three {
    color: purple;
}
#four {
    color: mediumslateblue;
}

