html, body, div {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
    padding: 0;
    border: 5px solid red;
    margin: 0 auto;

}

#s01, #s02, #s03, #s04, #s05, #s06 {
    width: 100%;
    min-height: 150px;
}